.User {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  p {
    font-size: 0.8rem;
    color: #333;
    margin: 0 0 0.3rem 0;
    &:last-child {
      color: rgba(#333, 0.7);
      margin: 0;
    }
  }

  & > div {
    display: flex;
    &:first-child {
      flex-direction: column;
      justify-content: center;
    }
    &:last-child {
      align-items: center;
    }
  }
}