@import '../../styles/palette';

.meterInfo {
    display: flex;
    flex-direction: column;
    left: 0;
    opacity: 1;
    padding: 0 15px;
    position: absolute;
    right: 0;
    top: 52px;
    transition: 0.3s ease all;
    span {
        text-align: center;
        &:first-child {
            font-size: 1.7rem;
        }
        &:last-child {
            text-transform: capitalize;
            &.smaller {
                font-size: 0.7rem;
            }
        }
    }
    &.verde {
        span {
            color: #0e7e12;
        }
    }
    &.rojo {
        span {
            color: #f2453d;
        }
    }

    &.amarillo {
        span {
            color: #fdc02f;
        }
    }
}

.meterContainer {
    border-radius: 5px;
    box-shadow: 1px 1px 18px -6px #ffffff;
    cursor: pointer;
    margin: 0 auto 1rem;
    max-height: 110px;
    overflow: hidden;
    padding: 0.5rem;
    position: relative;
    transition: 0.3s ease all;
    width: 14em;
    &:hover {
        box-shadow: 1px 1px 16px -5px #333;

        .meterIcon {
            color: $primary;
            font-size: 3em;
            right: 50%;
            top: 50%;
            transform: translate(50%, -50%);
        }

        :global(.circular-progress), .meterInfo {
            opacity: 0.4;
        }
    }
}

.meterIcon {
    color: #bababa;
    font-size: 0.5em;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: 0.3s ease all !important;
    z-index: 1000;
}