.TrafficLight {
    background-color: #a4a4a4;
    border-radius: 50%;
    font-size: 16px;
    height: 1.2em;
    position: relative;
    transition: 0.3s ease all;
    width: 1.2em;
    padding: 5px;
    &.rojo {
        &:before, & {
            background-color: #f2453d;
        }
    }
    &.amarillo {
        &:before, & {
            background-color: #fdc02f;
        }
    }
    &.verde {
        &:before, & {
            background-color: #0e7e12;
        }
    }
    &.animated {
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-name: trafficlight;
        transform: scale(1);
        &:before {
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-name: trafficlightShadow;
            border-radius: 50%;
            bottom: 0;
            content: "";
            height: 1.2em;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: 1.2em;
        }
        &.rojo {
            animation-duration: 0.8s;
            &:before {
                animation-duration: 0.8s;
            }
        }
        &.verde {
            animation-duration: 3s;
            &:before {
                animation-duration: 3s;
            }
        }
    }
}

@keyframes trafficlight {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.1);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes trafficlightShadow {
    0% { transform: scale(1); opacity: 1;  }
    10% { transform: scale(1.1); opacity: 0.9; }
    20% { transform: scale(1.2); opacity: 0.8; }
    30% { transform: scale(1.3); opacity: 0.7; }
    40% { transform: scale(1.4); opacity: 0.6; }
    50% { transform: scale(1.5); opacity: 0.5;  }
    60% { transform: scale(1.6); opacity: 0.4;  }
    70% { transform: scale(1.7); opacity: 0.3;  }
    80% { transform: scale(1.8); opacity: 0.2;  }
    90% { transform: scale(1.9); opacity: 0.1;  }
    100% { transform: scale(2); opacity: 0;  }
}