.trafficLightIndicatorContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
    max-height: 96px;
    position: relative;
}

.trafficLightInfo {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    position: relative;
    span {
        text-align: center;
        &:first-child {
            font-size: 1.7rem;
        }
        &:last-child {
            text-transform: capitalize;
            &.smaller {
                font-size: 0.7rem;
            }
        }
        &.twinkle {
            animation-duration: 0.2s;
            animation-name: shake;
        }
    }
    &.verde {
        span {
            color: #0e7e12;
        }
    }
    &.rojo {
        span {
            color: #f2453d;
        }
    }

    &.amarillo {
        span {
            color: #fdc02f;
        }
    }
}

@keyframes twinkle {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes shake {
    0% { transform: translate(1px, 1px)  }
    10% { transform: translate(-1px, -2px) }
    20% { transform: translate(-3px, 0px) }
    30% { transform: translate(3px, 2px) }
    40% { transform: translate(1px, -1px) }
    50% { transform: translate(-1px, 2px) }
    60% { transform: translate(-3px, 1px) }
    70% { transform: translate(3px, 1px) }
    80% { transform: translate(-1px, -1px) }
    90% { transform: translate(1px, 2px) }
    100% { transform: translate(1px, -2px) }
}