@import '../../../styles/palette';
@import '../../../styles/base';
.PlantHeader {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  min-height: 34px;
  width: 100%;
  h1 {
    flex-grow: 1;
    text-align: center;
  }

  div {
    margin-right: 1rem;
  }
  @include to(m) {
    flex-direction: column;
    h1 {
      font-size: 1.4rem;
    }
    div {
      margin-right: 0;
    }
  }
}

.PlantMachines {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.progress {
  align-self: center;
}

.Plant {
  height: 100%;
  overflow-y: scroll;
  width: 100%;
  padding: 0 15px 0 0;
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: $primary;
  }
  @include to(m) {
    flex-direction: row;
    padding: 0;
  }

}