@import 'media-queries';
/**,
*:before,
*:after {
  box-sizing: border-box;
}*/

:focus {
    outline: 0;
}

body {
    margin      : 0;
    font-family : sans-serif;
}

img {
    max-width : 100%;
    height    : auto;
}

a {
    text-decoration : none;

    &:hover { text-decoration : underline }
}
// Breakpoints
$breakpoints : (
        s  : 0,
        m  : 640px,
        l  : 1024px,
        xl : 1440px
) !default;