@import '../../../../styles/base';
@import '../../../../styles/palette';

.VariableDetail {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.GraphContainer, .TableDetail {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;

  @include from(l) {
    height: auto;
    margin-bottom: 0;
  }
}

.GraphContainer {
  height: 250px;
  @include from(m) {
    width: 55%;
    height: 350px;
  }
}

.TableDetail {
  @include from(m) {
    width: 40%;
  }
}

.PaperContainer {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

/*.PaperTitle {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  @include from(m) {
    font-size: 1.8rem;
  }
}*/

.GraphLabel {
  fill: rgb(102, 102, 102);
}

.HeaderTitleContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
  .BackIcon {
    position: relative;
    @include from(m) {
      position: absolute;
      left: 10px;
      top: 0;
      margin: 0;
    }
  }
  .HeaderTitle {
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    @include from(m) {
      display: block;
      font-size: 2rem;
      width: 100%;
    }
  }
}

.TableDetail {
  height: 350px;
  /*overflow: hidden;*/
  & > div > div {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    max-width: 100%;
  }
  thead {
    background: $primary;
    th {
      color: $white;
      font-size: 1rem;
      span:hover, span:focus {
        color: $white;
      }
    }
  }
}