.Home {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.Link {
    text-decoration: none !important;
    &:first-child {
        margin-bottom: 1rem;
    }
}

.AppContainer {
    align-items: center;
    background: #000000;
    border-radius: 68px;
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
    box-shadow: 0 1px 5px #333;
    transition: box-shadow ease 0.4s;
    &:hover {
        box-shadow: 2px 2px 5px #333;
    }
}

.AppLogoContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 1rem;
    .AppLogo {
        align-items: center;
        background: #000000;
        box-shadow: 0 0 0 1px white;
        border-radius: 50%;
        display: flex;
        height: 80px;
        justify-content: center;
        width: 80px;
        img {
            height: auto;
            width: 50px;
        }
    }
}
.AppTextContainer {
    display: flex;
    flex-direction: column;
    p {
        color: white;
        margin: 0 0 0.5rem 0;
        font-family: 'Roboto', sans-serif;
        display: inline-block;
        &:last-child {
            margin: 0;
            font-size: 1.6rem;
            font-weight: 500;
            letter-spacing: 1px;
        }
    }
}