@import '../../../../styles/base';
.Form {
    button {
        margin: 30px 0 0;
        &:disabled {
            cursor: not-allowed;
        }
    }
    @include from(m) {
        button {
            margin: 45px 0 0;
        }
    }
    @include from(l) {
        [class^='MuiFormControl'] {
            margin-top: 30px;
        }
    }
}