.CompanyContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 300px;
    width: 100%;
}

.CompanyContainerHeader {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    position: relative;
    img {
        max-height: 35px;
        max-width: 250px;
        width: auto;
    }
}

.CompanyContainerHeaderActions {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}