@import '../../styles/base';
@import '../../styles/palette';

.Auth {
    align-items: stretch;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
    @include from('m') {
        align-items: center;
    }
}

.AuthContainer {
    background: white;
    border: 1px solid lighten($background, 10%);
    position: relative;

    @include from('m') {
        width: auto;
        height: auto;
    }
}

.AuthSubContainer {
    padding: 115px 20px 15px;
    @include from(m) {
        padding: 80px 80px 35px;
    }
}

.AuthFormContainer {
    width: 100%;
    @include from('m') {
        width: 350px;
    }
}

.AuthLoader {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    width: 100%;
}

.LogoContainer {
    $size: 65px;
    align-items: center;
    background: $primary;
    border-radius: 50%;
    color: $white;
    display: flex;
    height: $size;
    justify-content: center;
    left: 50%;
    margin: 0 auto;
    position: absolute;
    top:  ($size / 2);
    transform: translateX(-50%);
    width: $size;
    img {
        width: 35px;
        height: auto;
    }

    @include from('m') {
        $size: 100px;
        top: -($size / 2);
        width: $size;
        height: $size;

    }
}

.Title {
    font-size: 22px;
    margin: 0;
    @include from('m') {
        font-size: 32px;
    }
}

.TitleSocial {
    font-size: 19px;
    margin: 30px auto 0;
    position: relative;
    @include from(l) {
        margin: 45px auto 0;
    }
    &:before {
        background: $titles;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
        top: 50%;
        width: 100%;
    }
    span {
        background: $white;
        padding: 0 3rem;
        position: relative;
    }
}

.Title, .TitleSocial {
    color: $titles;
    font-weight: 300;
    text-align: center;
}

.GoogleLogoContainer {
    text-align: center;
    button {
        margin: 30px 0 0;
    }
    img {
        height: auto;
        width: 30px;
        margin-right: 16px;
    }
    span {
        color: $primary;
        font-size: 16px;
    }
    @include from(m) {
        button {
            margin: 45px 0 0;
        }
    }
}