@import '../../styles/palette';

.Dashboard, .DashboardBusiness {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  color: $titles;
  flex-direction: column;
}

.Dashboard {
  justify-content: center;
}

.DashboardBusiness {
  justify-content: flex-start;
}