* {
    box-sizing: border-box;
}
body {
    background-color: #eff3f6;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

:global(#root) {
    display: flex;
    height: 100%;
}

:global(.circular-progress){
    &,
    &:before,
    &:after{
        width: 11rem;
        height: 11rem;
        border-radius:50%;
        transition: 0.3s ease all;
        opacity: 1;
    }
    margin:auto;
    position:relative;
    display: flex;
    align-items: center;

    &:before,
    &:after{
        position:absolute;
        text-align: center;
        top:0;
        left: 0;
    }
    &:before{
        padding: .5em;
        box-sizing:border-box;
        font-size: 2rem;
        line-height: 8rem;
        transition: 1s ease all;
    }
    &:after{
        line-height: 13rem;
    }
}

@function progress($percent){
    $deg: $percent / 100 * 180;
    @return #{$deg}deg;
}

@mixin circular-progress($percent,$color,$bgcolor){
    $progress: progress($percent);
    transform:rotate($progress);
    background: linear-gradient(
                    0deg,
                    $color 50%,
                    rgba($color,.2) 50%
    );
    &:before,
    &:after{
        color:$color;
    }
    &:before{
        content:"";
        background: $bgcolor content-box;
        transform:rotate(-#{$progress});
        text-transform: uppercase;
    }
    &:after{
        content:"";
        background: linear-gradient(
                        transparent 50%,
                        $bgcolor 50%
        );
        transform: scale(1.1) rotate(-#{$progress});
    }
}

// Red
@for $i from 0 through 100 {
    :global(.progress-rojo-#{$i}) {
        @include circular-progress($i, #f2453d, #FFFFFF);
    }
}

//Green
@for $i from 0 through 100 {
    :global(.progress-verde-#{$i}) {
        @include circular-progress($i, #0e7e12, #FFFFFF);
    }
}

//Yellow
@for $i from 0 through 100 {
    :global(.progress-amarillo-#{$i}) {
        @include circular-progress($i, #fdc02f, #FFFFFF);
    }
}